/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&family=Merienda:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700&family=Merienda:wght@400;700&display=swap");
/* font-family: 'Cairo', sans-serif; 200 / 400 / 600 / 700 */
/* font-family: 'Merienda', cursive; 400 / 700 */

:root {
  --primary-color: #156268;
  --primary-dark-color: rgb(17, 80, 85);
  --primary-light-color: #24787e;
  --primary-lighter-color: #28bac5;
  --primary-lightest-color: hsl(184, 66%, 97%);
  --secondary-color: #d35d6e;
  --secondary-dark-color: hsl(351, 57%, 65%);
  --secondary-light-color: hsl(351, 57%, 75%);
  --border-radius: 20px;
  --shadow: 0 0 20px 1px #aaa;
  --dark-shadow: 0 0 20px 1px #333;
  --light-shadow: 0 0 10px 1px #333;
  --label-shadow: 0 0 3px 1px #aaa;
  --zoom-scale: scale(1.005);
  --transition: all 0.3s;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  color: var(--primary-dark-color);
  background-color: var(--primary-lightest-color);
}

.navbar-light .navbar-brand {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--primary-color);
  font-size: 1.15em;
  font-weight: 600;
}

.navbar-light li.nav-item {
  width: fit-content;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9) !important;
  background-color: transparent !important;
}

.main-btn,
.navbar-light .navbar-nav .nav-link.main-btn {
  color: var(--primary-lightest-color) !important;
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  transition: var(--transition);
}

.navbar-light .navbar-nav .nav-link.main-btn {
  padding: 0.5em 1em;
}

.main-btn:focus,
.main-btn:hover,
.navbar-light .navbar-nav .nav-link.main-btn:focus,
.navbar-light .navbar-nav .nav-link.main-btn:hover {
  color: var(--primary-color) !important;
  background-color: transparent !important;
}

.secondary-btn {
  color: #fff !important;
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--secondary-color) !important;
  background-color: transparent !important;
}

.user-icon {
  font-size: 1.75em;
  color: var(--primary-color);
}
.slick-slider > * {
  height: 100vh;
}

.slideshow-bg {
  height: 100vh;
  background-size: center;
  background-position: center;
  cursor: grab;
}

.slideshow-bg:focus {
  cursor: grabbing;
}

.slideshow-bg1 {
  background-image: url(./components/home/slideshow/pexels-photo-3266523.jpeg);
}

.slideshow-bg2 {
  background-image: url(./components/home/slideshow/pexels-photo-1271619.jpeg);
}

.slideshow-bg3 {
  background-image: url(./components/home/slideshow/pexels-photo-59520.jpeg);
}

.slideshow-bg4 {
  background-image: url(./components/home/slideshow/pexels-photo-2398220.jpeg);
}

.card-item {
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.card-item:hover,
.card-item:focus {
  transform: var(--zoom-scale);
  box-shadow: var(--dark-shadow);
}

.card-item-lg {
  height: 450px;
}

.card-item-sm {
  height: 217px;
}

.card-item-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
}

.card-item-highlight {
  height: 240px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  position: relative;
}

.card-item-name {
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: #fff;
  font-size: 1.5rem;
}

.card-item-type {
  position: absolute;
  right: 0;
  bottom: 5%;
  padding: 0.5em 0.5em 0.5em 1em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  color: var(--primary-dark-color);
  font-size: 0.75em;
  background-color: #fff;
  box-shadow: var(--label-shadow);
}

.card-item-details {
  position: relative;
  padding: 0.5em 0.75em;
}

.card-item-details h4 {
  font-size: 1.15em;
  color: var(--primary-color);
}

.card-item-details .desc {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-dark-color);
}

.card-item-details .price,
.card-item-details .rating {
  position: absolute;
  right: 5%;
  color: var(--primary-lighter-color);
}

.card-item-details .price {
  top: 10%;
}

.card-item-details .rating {
  bottom: 10%;
}

.card-item-details .rating svg {
  margin-bottom: 0.3em;
}

.wishlist-icon {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.feature-icon {
  font-size: 0.75em;
  margin-right: 0.25em;
}

footer .nav-link {
  color: #fff;
}

/* ///////////////////// for Team Page///////////////////////////////// */
.place-info {
  background-color: var(--primary-dark-color);
  color: var(--primary-lightest-color);
}

.place-desc {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-dark-color);
}
.review {
  background-color: var(--primary-dark-color);
  color: var(--primary-lightest-color) !important;
}
.users {
  padding: 2em;
}
.user-photo {
  right: 10px;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50%;
}
.user-photo img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.review h2 {
  color: var(--primary-lightest-color) !important;
}

#place-details .slideshow-bg {
  max-width: 100%;
  height: auto;
}

.place-edit-icon {
  font-size: 2em;
  color: var(--primary-color);
  margin-left: 0.5em;
}

.place-edit-icon svg {
  vertical-align: baseline;
}

.Place-name {
  font-family: "Merienda", cursive;
  font-size: 50px;
  color: var(--primary-color) !important;
  /* -webkit-text-stroke: 3px var(--primary-dark-color); */
  position: absolute;
  top: 11%;
  left: 20%;
  right: 20%;
  text-align: center;
}
